<section>
    <h1 class="home-header">Home</h1>
        {{#each posts as |post|}}
        <article class="post">
            <h3 class="post-author">{{post.User.username}}</h3>
            <h2 class="post-title">{{post.title}}</h2>
            <p class="post-body">{{post.text}}</p>
            <p class="post-date">{{formatDate post.created_at}}</p>
        </article>
    {{/each}}
</section>